<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
      <img src="img/portfolio/csharp/c1.jpg" alt="charp">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">C1-Car Project</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>C#</span></li>
        <li>Type - <span>Back-End</span></li>
        <li>Save - <span><a href="https://github.com/yazilimcierkek/CarStore" target="_blank">Download</a></span></li>
      </ul>
    </div>
  </div>
