<div class="portfilo-item-thumbnail">

  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/csharp/c3.jpg" alt="charp">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">C3-Checkers</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>C#</span></li>
        <li>Type - <span>Back-End</span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/Checkers/raw/main/checkers.rar" >Download</a></span></li>
      </ul>
    </div>
  </div>
