<div class="portfilo-item-thumbnail">
    <img src="img/portfolio/project-25.jpg" alt="project25">
  </div>
  <h3 class="portfilo-item-title">#25 Pepsi Card</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p></p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://yazilimcierkek.github.io/Demo/PepsiCard/" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/yazilimcierkek/PepsiCard" target="_blank">Download</a></span></li>
      </ul>
    </div>
  </div>