<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/photos/project-30.jpg" alt="project29">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">#29 Neon Text</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p></p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://thewebjavid.github.io/Demo/NeonText/index.html" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/neontext/raw/main/NeonText.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
