<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/photos/project-3.jpg" alt="project3">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">#3 Foldable Card</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p></p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://thewebjavid.github.io/Demo/FoldableCard/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=qSimPvYO5Ps&t" target="_blank"> Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/Foldable-Card/raw/main/foldablecard.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
