<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img src="img/portfolio/project-42.jpg" alt="project41">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">#41 Hexagon Images</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p></p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://yazilimcierkek.github.io/Demo/HexaginImages/index.html" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/yazilimcierkek/Hexagon-Images" target="_blank">Download</a></span></li>
      </ul>
    </div>
  </div>
