<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img src="img/portfolio/project-7.jpg" alt="project7">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title">#7 Loading-1</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p></p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://yazilimcierkek.github.io/Demo/loading/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=R2gfnRfsZ9I&t" target="_blank">Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/yazilimcierkek/loading" target="_blank">Download</a></span></li>
      </ul>
    </div>
  </div>
