<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/site/site3.jpg" alt="site3">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title ">@3 Home Shopping Site</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Javascript</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://thewebjavid.github.io/Demo/HomeShoppingSite/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=4zYMLjFbkEc&t" target="_blank"> Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/HomeShoppingSite/raw/main/HomeShoppingSite.zip">Download</a></span></li>
      </ul>
    </div>
  </div>
