<div class="portfilo-item-thumbnail">
    <img src="img/portfolio/site/site4.jpg" alt="site4">
  </div>
  <h3 class="portfilo-item-title ">@4 Portfolio 1</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Javascript</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://yazilimcierkek.github.io/Demo/PortfolioA/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=DY8qba4yLZ0" target="_blank"> Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/yazilimcierkek/PortfolioA" target="_blank">Download</a></span></li>
      </ul>
    </div>
  </div>