<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/site/site5.jpg" alt="site5">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title ">@5 Portfolio 2</h3>
  <button type="button" class="btn view-project-btn">View Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Javascript</span></li>
        <li>Type - <span>Front-End</span></li>
        <li>Demo Version - <span><a href="https://thewebjavid.github.io/Demo/PortFolioB/index.html" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/My_WebSite/raw/main/Portfolio2.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
